<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/file.css">
	<!-- ../ mtlb isse bahar nikalo folder lene ke lia -->
</head>

    <body>
        
		<div id="center_maker">
			<header id="page_header">
				<h1 class="title_text">
				<%= age%>
				</h1>
			</header>
			
			<nav id="top_nav">
				<ul>
					<li><a href="#"> Home </a></li>
					<li><a href="#"> About </a></li>
					<li><a href="#"> services </a></li>
					<li><a href="#"> Contact us </a></li>
				</ul>
			</nav>
				
			<section id="section">
				<article>
					<header>
						<h2>This is a great Honey Bunny Article</h2>	
					</header>
						<p>
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
						</p>
						<p>
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
						</p>
						<p>
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
						</p>
						<p>
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
						</p>
						<p>
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
							hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!hello honey bunny!
						</p>				
				</article>
				
				<footer>
						<p>This entire article was written by Atchyut Nagabhairava.</p>
				</footer>
			</section>
			
	</div>
	
	<footer id="page_footer">
	&copy; Copyrights 2015 by Atchyut
	</footer>
</body>
</html>